@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root{
    --background: rgb(242, 255, 233);
    --light: rgb(166, 207, 152);
    --dark: rgb(85, 124, 85);
    --highlight: rgb(250, 112, 112);
}

body{
    display:flex; 
    flex-direction:column; 
    justify-content:center;

    background-color: var(--light);

    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;

    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    background-color: white;
    padding: 20px;
}

section{
    min-height: 100dvh;
}

.img-placeholder{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-repeat: no-repeat;

    border-radius: 100%;
    border: 2px solid grey;

    height: 30%;
    min-width: 30%;
}

.img-placeholder#profile-picture{
    margin-left: 40px;
}

.goto-next{
    display: block;
    height: 4em;
    left: 50%;
    overflow: hidden;

    background-image: url(../img/arrow.svg);
    background-color: rgba(144, 144, 144, 0.075);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: 0;
    bottom: 3em;
    
    line-height: 4em;
    margin-left: 1vm;
    margin-top: 10%;
    text-indent: 4em;
    white-space: nowrap;
    width: 4em;
}

.goto-next:hover {
    background-color: rgba(144, 144, 144, 0.25);
}

.selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

#profile-selector-align{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    width: 100%;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    margin: 5px 10px 50px;

    background-color: var(--light);

    text-align: center;
    
    transition: 0.3s background-color;
    font-size: 30px;
}

.square:hover{
    background-color: var(--dark);
    color: var(--background);
}

.side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    margin-left: 50px;
    margin-right: 50px;
}

#img-past-work{
    display: inline;
    width: 80%;
    height: auto;
}

table{
    table-layout: fixed;
    width: 100%;
}

td{
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

.logo{
    width: 100%;
    height: auto;
}

.td-icon{
    height: auto;
    width: 5vw;
}

.logo-label{
    font-size: 0.8em;
}